section.details {
  .sec_container {
    position: relative;

    .text_container {
      margin-top: 0px;
      // background: red;
      // border-top: 1px solid #8e8eae4c;
      margin-bottom: 28px;
      text-align: justify;
      // width: 70%;

      // @media screen and (min-width: 922px) {
      //   padding-right: 40px;
      //   padding-left: 40px;
      // }

      @media screen and (max-width: 992px) {
        margin-top: 34px;
        padding-top: 34px;
        margin-bottom: 34px;
        width: 100%;
        padding-top: 0;
      }

      h4 {
        margin-bottom: 16px;
        margin-top: 16px;
        color: #383969;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;

        @media screen and (min-width: 992px) {
          margin-top: 64px;
        }

        @media screen and (max-width: 992px) {
          font-size: 24px;
          text-align: unset;
          margin-top: 34px;
        }
      }

      span,
      p {
        display: inline;
        margin-bottom: 0;
        color: #8e8eae;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 36px */
        @media screen and (max-width: 992px) {
          font-size: 16px;
        }
      }

      p {
        display: block;
        text-align: justify;
      }

      li {
        color: #8e8eae;
        font-size: 24px;
        font-weight: 500;
        font-size: 24px;

        @media screen and (max-width: 992px) {
          font-size: 16px;
        }
      }
    }
  }
}

section.details[dir="ltr"] {
  .sec_container {
    .boxes_container {
      .box {
        &:hover {
          p {
          }
        }

        .icon_container {
          img {
          }
        }

        p {
        }
      }
    }

    .text_container {
      h4 {
        margin-bottom: 16px;
        margin-top: 16px;
        color: #383969;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; /* 32px */

        @media screen and (min-width: 992px) {
          margin-top: 64px;
        }

        @media screen and (max-width: 992px) {
          font-size: 24px;
          margin-top: 34px;
          text-align: left;
        }
      }

      span,
      p {
        display: inline;
        margin-bottom: 0;
        color: #8e8eae;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 36px */
        @media screen and (max-width: 992px) {
          font-size: 16px;
        }
      }

      p {
        display: block;
        text-align: justify;
        margin-bottom: 16px;
      }

      li {
        color: var(--main-blue-color);
        font-size: 16px;
        font-weight: 600;
        margin-top: 14px;
      }
    }
  }
}
