section.details {
  .sec_container {
    position: relative;
    .desc_container {
      width: 100%;
      display: flex;
      padding: 40px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;

      border-radius: 32px;
      border: 1px solid #fff;
      background: #fff;
      box-shadow: 0px 24px 64px 0px rgba(56, 57, 105, 0.05);
      backdrop-filter: blur(12px);
      margin-top: -100px;
      position: relative;
      z-index: 999;

      @media screen and (max-width: 992px) {
        padding: 16px 8px;
        margin-top: -25px;
      }
      p {
        align-self: stretch;
        color: #8e8eae;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 36px */

        @media screen and (max-width: 992px) {
          font-size: 16px;
        }
      }
    }

    .boxes_container {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid rgba(142, 142, 174, 0.2980392157);
      padding-bottom: 70px;
      // flex-wrap: wrap;

      @media screen and (max-width: 992px) {
        padding-bottom: 34px;
        overflow-y: scroll;
      }

      .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        &:not(:first-child) {
          margin-right: 72px;
          @media screen and (max-width: 992px) {
            margin-right: 32px;
          }
        }
        .icon_container {
          img {
            width: 40px;
            height: 40px;
            object-fit: contain;
          }
        }

        p {
          margin-top: 8px;

          margin-bottom: 0;
          color: #8e8eae;
          text-align: center;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 100%; /* 18px */
        }
      }
    }
    .text_container {
      margin-top: 70px;
      // background: red;
      // border-top: 1px solid #8e8eae4c;
      margin-bottom: 128px;
      text-align: justify;
      width: 70%;

      @media screen and (max-width: 992px) {
        margin-top: 34px;
        padding-top: 34px;
        margin-bottom: 34px;
        width: 100%;
      }

      h4 {
        margin-bottom: 16px;
        margin-top: 16px;
        color: #383969;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; /* 32px */
        @media screen and (max-width: 992px) {
          font-size: 24px;
        }
      }

      span,
      p {
        display: inline;
        margin-bottom: 0;
        color: #8e8eae;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 36px */
        @media screen and (max-width: 992px) {
          font-size: 16px;
        }
      }

      li {
        color: red;
        color: var(--main-blue-color);
        font-size: 16px;
        font-weight: 600;
        margin-top: 14px;
      }
    }
  }
}
