section.masjid_an_nabawy {
  // display: none;
  @media screen and (min-width: 450px) {
    margin-bottom: 50px;
  }
  @media screen and (max-width: 450px) {
    display: block;
  }
  margin-top: 50px;
  .section_container {
    .sec_title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h3 {
        margin-bottom: 0 !important;
      }
      a {
        color: unset !important;
      }
      .arrow_container {
        background: linear-gradient(
          rgba(56, 122, 138, 0.3) 0%,
          rgba(211, 193, 189, 0) 129.34%
        );
        padding: 5px;
        border-radius: 50%;
        svg {
          width: 30px;
          height: 30px;
          color: var(--sec-purble-color);
        }
      }
    }
    a {
      text-decoration: none;
      color: unset;
    }
    .swiper_section {
      .swiper {
        margin-top: 44px;
        .img_container {
          img {
            width: 215px;
            height: 134px;
            border-radius: 12px;

            object-fit: cover;

            @media screen and (min-width: 992px) {
              width: 315px;
              height: 234px;
            }
          }
        }

        .title {
          margin-top: 16px;
          p {
            color: var(--sec-purble-color);
            font-size: 18px;
            font-weight: 800;
            line-height: 100%;
          }
        }
      }
    }
  }
}

section.masjid_an_nabawy[dir="ltr"] {
  .arrow_container {
    transform: scale(-1);
  }
}
