section.foods,
section.industries {
  margin-top: 64px;
  @media screen and (max-width: 992px) {
    margin-top: 100px;
    margin-bottom: 25px;
  }

  .swiper_container {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: -83px;
      top: 60.5px;
      width: 282px;
      height: 96px;
      // width: 96px;
      // height: 282px;
      transform: rotate(-90deg);

      border-radius: 0px 189.55px 189.55px 120px;
      opacity: 0.1;
      background: #50517f;

      @media screen and (max-width: 992px) {
        top: 65px;
        // height: 50px;
      }
    }
    .sec_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      .title {
        display: flex;
        align-items: center;
        gap: 46px;
        margin-bottom: 24px;
        @media screen and (max-width: 992px) {
          gap: 91px;
          margin-bottom: 0;
        }

        h3 {
          font-size: 68px;
          font-weight: 800;
          color: #50517f;

          @media screen and (max-width: 992px) {
            font-size: 32px;
            margin-right: 14px;
          }
        }
        .img_container {
          img {
            width: 78px;
            height: 50px;
            object-fit: contain;
            position: absolute;
            top: -20px;
            right: 20px;

            @media screen and (max-width: 992px) {
              top: -7px;
              right: 35px;
              width: 48px;
              height: 48px;
            }
          }
        }
      }

      .see_all {
        text-decoration: none;
        display: flex;
        p {
          text-align: right;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 120%;
          color: #50517f;
        }
        .arrow_container {
          background: linear-gradient(
            rgba(56, 122, 138, 0.3) 0%,
            rgba(211, 193, 189, 0) 129.34%
          );

          width: 28px;
          height: 28px;
          display: flex;
          border-radius: 50%;

          svg {
            margin: auto;
            width: 24px;
            height: 24px;
            color: #50517f;
          }
        }
      }
    }

    .swiper {
      @media screen and (max-width: 992px) {
        padding-right: 30px;
        margin-top: 16px;
      }
    }
    .swiper_slide_box {
      .box {
        display: flex;

        padding: 16px;
        flex-direction: column;
        // justify-content: flex-end;
        // align-items: flex-end;
        gap: 16px;
        position: relative;

        @media screen and (max-width: 992px) {
          gap: 17px;
          padding: 0;
        }

        .img_container {
          img {
            object-fit: cover;
            border-radius: 12px;
            width: 287.5px;
            height: 321px;

            width: 315px;
            height: 234px;

            border-radius: 24px;
            box-shadow: 0px 24px 64px 0px rgba(56, 57, 105, 0.05);
            filter: blur(0.5px);

            @media screen and (max-width: 992px) {
              width: 181px;
              height: 126px;
              border-radius: 12px;
            }
          }
        }

        // &::after {
        //   content: "";
        //   position: absolute;
        //   bottom: -1px;
        //   right: 0;
        //   width: 100%;
        //   height: 40px;
        //   background: linear-gradient(
        //     180deg,
        //     #fafafa 0%,
        //     rgba(250, 250, 250, 0) 100%
        //   );
        //   transform: rotate(180deg);
        //   border-radius: 24px 24px 0px 0px;

        // }

        .title {
          width: 100%;

          h5 {
            color: var(--main-purble-color);
            text-align: right;
            font-size: 24px;
            font-style: normal;
            font-weight: 800;

            @media screen and (max-width: 992px) {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

section.industries {
  &::after {
    background-color: #383969 !important;
  }
}
// ----------------------------------- LTR -----------------------------------

section.foods[dir="ltr"],
section.industries[dir="ltr"] {
  .swiper_container {
    &::after {
      right: unset;
      left: -80px;
      top: 60.5px;
      transform: rotate(-90deg);

      @media screen and (max-width: 992px) {
        top: 65px;
      }
    }
    .sec_header {
      .title {
        h3 {
          // font-size: 22px;
          @media screen and (max-width: 992px) {
            font-size: 24px;
          }
        }
        .img_container {
          img {
            right: unset;
            left: 20px;

            @media screen and (max-width: 992px) {
              left: 35px;
            }
          }
        }
      }

      .see_all {
        text-decoration: none;
        display: flex;
        align-items: center;
        p {
          text-align: left;
          font-size: 14px;
          margin-bottom: 0;
        }
        .arrow_container {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }

    .swiper {
      @media screen and (max-width: 992px) {
        padding-right: 0;
        padding-left: 18px;
      }
    }

    .swiper_slide_box {
      .box {
        .img_container {
          img {
          }
        }

        // &::after {
        //   content: "";
        //   position: absolute;
        //   bottom: -1px;
        //   right: 0;
        //   width: 100%;
        //   height: 40px;
        //   background: linear-gradient(
        //     180deg,
        //     #fafafa 0%,
        //     rgba(250, 250, 250, 0) 100%
        //   );
        //   transform: rotate(180deg);
        //   border-radius: 24px 24px 0px 0px;
        // }

        .title {
          width: 100%;

          h5 {
            text-align: left;
          }
        }
      }
    }
  }
}

// ----------------------------------- LTR -----------------------------------
