nav#navbar {
  padding-top: 16px;
  z-index: 9999;
  backdrop-filter: blur(16px);
  background: linear-gradient(
    rgba(56, 122, 138, 0.3) 0%,
    rgba(211, 193, 189, 0) 129.34%
  );

  padding-bottom: 16px;

  @media screen and (max-width: 992px) {
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .navbar_logo {
    @media screen and (max-width: 992px) {
      flex-grow: 1;
    }
    .logo {
      img {
        object-fit: contain;
      }
    }

    img {
      @media screen and (max-width: 992px) {
        width: 112px;
        object-fit: contain;
        height: 40px;
      }
    }
  }

  .main_title {
    h1 {
      color: #fff;
      text-align: right;
      font-family: var(--IBMP-font);
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
    }
  }

  form {
    position: relative;
    @media screen and (max-width: 992px) {
      order: 4;
    }

    input {
      background-color: rgba(255, 255, 255, 0.44) !important;
      border-radius: 48px !important;
      border: 1px solid rgba(255, 255, 255, 0.7) !important;
      width: 398px;
      font-weight: 600;
      font-family: var(--IBMP-font) !important;
      font-size: 18px;
      padding-right: 40px;
      &::placeholder {
        color: rgba(236, 236, 236, 1);
        font-weight: 600;
        font-family: var(--IBMP-font) !important;
        font-size: 18px;
      }
      &:focus {
        outline: none !important;
      }

      @media screen and (max-width: 992px) {
        display: none;
      }
    }

    button {
      position: absolute;
      right: 2%;
      bottom: 1%;
      @media screen and (max-width: 992px) {
        position: relative;
      }

      img {
        object-fit: contain;
      }
    }
  }

  .lang_container {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    width: 105px;
    height: 43px;
    border-radius: 24px !important;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 8px;
    padding-left: 13px;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    position: relative;
    z-index: 999999;

    @media screen and (max-width: 992px) {
      width: 85px;
      height: 33px;
      padding-top: 4px;
    }

    .icon_container {
      svg {
        width: 24px;
        height: 24px;
        color: #ffffff;
        transition: all 0.3s ease-in-out;
      }

      svg.active {
        transform: rotate(180deg);
      }
    }

    .lang {
      p {
        font-family: var(--IBMP-font);
        font-size: 18px;
        color: #ffffff;
        font-weight: 600;
      }
    }

    .img_container {
      img {
        width: 18px;
        height: 18px;
      }
    }

    .nav_menu_container {
      position: absolute;
      right: 0%;
      top: 120%;
      z-index: 999;
      .links {
        // background-color: #387a8ad9;
        // background: rgba(255, 255, 255, 0.1);

        // border-radius: 24px;
        // padding: 16px;
        // align-items: center;
        // width: 160px;
        // border: 2px solid white;

        @media screen and (max-width: 992px) {
          height: 200px;
          overflow: scroll;
        }
      }
      .link {
        width: 105px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin-bottom: 8px;
        background-color: rgba(255, 255, 255, 0.1);
        p {
          font-family: var(--IBMP-font);
          font-size: 18px;
          color: #ffffff;
          font-weight: 600;
          margin-bottom: 0;
        }
        border-radius: 24px;
        padding: 8px;

        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: rgb(28 26 26 / 11%);
        }
        .icon_container {
          display: none;
          width: 24px;
          height: 24px;

          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }

  .close_icon {
    cursor: pointer;
    svg {
      width: 40px;
      height: 40px;

      color: #ffffff;
    }
  }
}

.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

#navbar {
  transition: transform 0.3s ease-in-out;
}

// ++++++++LTR++++++++++++

nav#navbar[dir="ltr"] {
  .navbar_logo {
    .logo {
      img {
      }
    }
  }

  form {
    input {
      padding-right: 0px;
      padding-left: 40px;
      &::placeholder {
      }
      &:focus {
      }
    }

    button {
      right: unset !important;
      left: 0;

      img {
      }
    }
  }

  .lang_container {
    padding-right: 13px;
    padding-left: 8px;
    .icon_container {
      svg {
      }
    }

    .lang {
      p {
      }
    }

    .img_container {
      img {
      }
    }

    .nav_menu_container {
      right: -10%;
      top: 120%;

      .links {
        border-radius: 24px;
        padding: 14px;
        align-items: center;
        width: 135px;
      }
      .link {
        width: 100%;
        display: flex;
        text-decoration: none;
        p {
          font-family: var(--IBMP-font);
          font-size: 18px;
          color: #ffffff;
          font-weight: 600;
          margin-bottom: 0;
        }
        border-radius: 24px;
        padding: 8px;

        align-items: center;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: rgb(28 26 26 / 11%);
        }
        .icon_container {
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}
