section.virtual_guide {
  position: relative;
  margin-top: 128px;
  padding-bottom: 128px;
  @media screen and (max-width: 992px) {
    margin-top: 60px;
    padding-bottom: 0px;
  }

  .shape {
    position: absolute;
    left: unset !important;
    right: 0;
    bottom: 138px;
    z-index: -1;

    img {
      object-fit: contain;
      transform: scale(-1);
      @media screen and (max-width: 992px) {
        width: 338px;
        height: 125px;
      }
    }
  }
  .sec_container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    position: relative;

    @media screen and (max-width: 992px) {
      flex-direction: column-reverse;
    }

    .topics_container {
      max-height: fit-content;
      position: relative;
      overflow: hidden;
      @media screen and (max-width: 992px) {
        max-width: unset;
        // position: relative;
        overflow: unset;
        width: 100%;
      }

      .shadow {
        // position: absolute;
        // bottom: 0;
        // right: 0;
        // background: linear-gradient(
        //   180deg,
        //   #fafafa 0%,
        //   rgba(250, 250, 250, 0) 100%
        // );
        // width: 618px;
        // height: 142px;
        // z-index: 222;
        // transform: rotate(180deg);

        position: absolute;
        bottom: -2px;
        right: -10px;
        background: linear-gradient(
          180deg,
          #fafafa 0%,
          rgba(250, 250, 250, 0) 100%
        );
        width: 88%;
        height: 113px;
        z-index: 222;
        transform: rotate(180deg);
        border-radius: 0 0 32px 32px;

        @media screen and (max-width: 992px) {
          display: none;
        }
      }

      .guide {
        margin-bottom: 16px;
        @media screen and (max-width: 992px) {
          display: none;
        }
        p {
          font-size: 32px;
          font-weight: 500;
          line-height: 38px;
          letter-spacing: 0em;
          text-align: right;
          color: #9fa0b9;
        }
      }

      .sec_title {
        margin-bottom: 32px;
        @media screen and (max-width: 992px) {
          display: none;
        }

        h3 {
        }
      }

      .swiper_container {
        height: 686px;
      }

      .mobile_Slider,
      .boxes_container {
        display: block;
        @media screen and (max-width: 992px) {
          display: none;
        }

        .box {
          width: 265px;
          // height: 256px;
          overflow: hidden;
          padding: 16px;
          border: 1px solid var(--main-white-color);
          border-radius: 32px;
          background-color: var(--main-white-color);
          box-shadow: 0px 24px 64px 0px #3839690d;
          margin-right: 16px;
          margin-bottom: 16px;
          transition: transform 0.3s ease-in-out, border-color 0.5s ease-in-out;
          border: 2px solid transparent;
          transform: scale(0.92);

          cursor: pointer;
          &:first-child {
            margin-right: 0;
          }

          .img_container {
            width: 100%;
            // height: 100%;
            img {
              border-radius: 32px;
              width: 100%;
              // height: 100%;
            }
          }
          .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 16px;

            h5 {
              color: var(--main-purble-color);
              transition: color 0.3s ease-in-out;
              font-size: 24px;
              font-weight: 600;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: right;
            }
            .icon_container {
              display: none !important;
              width: 40px;
              height: 40px;
              display: flex;
              border-radius: 24px;
              padding: 8px;
              background-color: #50a99a33;
              img {
                margin: auto;
                width: 100%;
                height: 100%;
              }
            }
          }
        }

        .box.active {
          // background-color: red;
          border-color: var(--main-green-color);
          transform: scale(1);

          .title {
            h5 {
              color: var(--main-green-color);
            }
          }
        }
      }

      .mobile_Slider {
        display: none;
        @media screen and (max-width: 992px) {
          display: block;
        }

        .box {
          width: 164px !important;
          .img_container {
            img {
              width: 132px;
              height: 111px;
            }
          }
          .title {
            h5 {
              font-size: 16px;
            }
          }
        }
      }
    }

    .video_container {
      // position: relative;
      // width: 100%;
      @media screen and (max-width: 992px) {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-end;
      }

      .img_container {
        img {
          width: 100px;
          height: 220px;
          @media screen and (min-width: 992px) {
            display: none;
          }

          @media screen and (max-width: 992px) {
            width: 256px;
            height: 397px;
            object-fit: contain;
          }
        }

        // min-width: 372px;

        width: 504px;
        height: 768px;
        object-fit: contain;
        background-image: url("/assets/images/Background_hands_web.png");
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

        @media screen and (max-width: 992px) {
          background-image: unset;
          width: 198px;
          height: 300px;
          object-fit: contain;
        }
        video {
          // position: absolute;
          // top: 26px;
          // left: 99px;
          // border-radius: 48px;
          // height: 73%;
          // width: 70%;
          // object-fit: cover;
          // object-position: top;
          // margin-bottom: 0px;

          position: absolute;
          top: 26px;
          left: 166px;
          border-radius: 48px 48px 36px 68px;
          height: 74%;
          width: 51%;
          object-fit: cover;
          object-position: top;
          margin-bottom: 0px;

          @media screen and (max-width: 992px) {
            position: absolute;
            top: 15px;
            left: 23px;
            border-radius: 26px 26px 30px 36px;
            height: 96%;
            width: 69%;
            object-fit: cover;
            object-position: top;
            margin-bottom: 0px;
          }
        }
      }

      .sec_title {
        margin-bottom: 32px;
        @media screen and (min-width: 992px) {
          display: none;
        }
        p {
          @media screen and (min-width: 992px) {
            display: none;
          }
          color: #9fa0b9;
          text-align: right;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%;
        }

        h3 {
          @media screen and (max-width: 992px) {
            color: #383969;
            text-align: right;
            font-size: 32.5px;
            font-style: normal;
            font-weight: 800;
            line-height: 120%; /* 39px */
            max-width: 180px;
          }
        }
      }
    }
  }
}

// ++++++++++++++ LTR ++++++++++++++
section.virtual_guide[dir="ltr"] {
  position: relative;
  margin-top: 128px;
  padding-bottom: 128px;
  @media screen and (max-width: 992px) {
    margin-top: 60px;
    padding-bottom: 0px;
  }

  .shape {
    position: absolute;
    left: 0;
    bottom: 138px;
    z-index: -1;
    img {
      object-fit: contain;
      @media screen and (max-width: 992px) {
        width: 338px;
        height: 125px;
      }
    }
  }
  .sec_container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    position: relative;

    @media screen and (max-width: 992px) {
      flex-direction: column-reverse;
    }

    .topics_container {
      max-height: fit-content;
      position: relative;
      overflow: hidden;
      @media screen and (max-width: 992px) {
        max-width: unset;
        // position: relative;
        overflow: unset;
        width: 100%;
      }

      .shadow {
        // position: absolute;
        // bottom: 0;
        // right: 0;
        // background: linear-gradient(
        //   180deg,
        //   #fafafa 0%,
        //   rgba(250, 250, 250, 0) 100%
        // );
        // width: 618px;
        // height: 142px;
        // z-index: 222;
        // transform: rotate(180deg);

        position: absolute;
        bottom: -2px;
        right: unset;
        left: -10px;
        background: linear-gradient(
          180deg,
          #fafafa 0%,
          rgba(250, 250, 250, 0) 100%
        );
        width: 88%;
        height: 113px;
        z-index: 222;
        transform: rotate(180deg);
        border-radius: 0 0 32px 32px;

        @media screen and (max-width: 992px) {
          display: none;
        }
      }

      .guide {
        margin-bottom: 16px;
        @media screen and (max-width: 992px) {
          display: none;
        }
        p {
          font-size: 32px;
          font-weight: 500;
          line-height: 38px;
          letter-spacing: 0em;
          text-align: right;
          color: #9fa0b9;
        }
      }

      .sec_title {
        margin-bottom: 32px;
        @media screen and (max-width: 992px) {
          display: none;
        }

        h3 {
        }
      }

      .swiper_container {
        height: 686px;
      }

      .mobile_Slider,
      .boxes_container {
        display: block;
        @media screen and (max-width: 992px) {
          display: none;
        }

        .box {
          width: 265px;
          // height: 256px;
          overflow: hidden;
          padding: 16px;
          border: 1px solid var(--main-white-color);
          border-radius: 32px;
          background-color: var(--main-white-color);
          box-shadow: 0px 24px 64px 0px #3839690d;
          margin-right: 16px;
          margin-bottom: 16px;
          transition: transform 0.3s ease-in-out, border-color 0.5s ease-in-out;
          border: 2px solid transparent;
          transform: scale(0.92);

          cursor: pointer;
          &:first-child {
            margin-right: 0;
          }

          .img_container {
            width: 100%;
            // height: 100%;
            img {
              border-radius: 32px;
              width: 100%;
              // height: 100%;
            }
          }
          .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 16px;

            h5 {
              text-align: left;
            }
            .icon_container {
              width: 40px;
              height: 40px;
              display: flex;
              border-radius: 24px;
              padding: 8px;
              background-color: #50a99a33;
              img {
                margin: auto;
                width: 100%;
                height: 100%;
              }
            }
          }
        }

        .box.active {
          // background-color: red;
          border-color: var(--main-green-color);
          transform: scale(1);

          .title {
            h5 {
              color: var(--main-green-color);
            }
          }
        }
      }

      .mobile_Slider {
        display: none;
        @media screen and (max-width: 992px) {
          display: block;
        }

        .box {
          width: 164px !important;
          .img_container {
            img {
              width: 132px;
              height: 111px;
            }
          }
          .title {
            h5 {
              font-size: 16px;
            }
          }
        }
      }
    }

    .video_container {
      // position: relative;
      // width: 100%;

      @media screen and (max-width: 992px) {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-end;
      }

      .img_container {
        transform: scaleX(-1);

        img {
          width: 100px;
          height: 220px;
          @media screen and (min-width: 992px) {
            display: none;
          }

          @media screen and (max-width: 992px) {
            width: 196px;
            height: 419px;
            object-fit: contain;
          }
        }

        // min-width: 372px;

        width: 504px;
        height: 768px;
        object-fit: contain;
        background-image: url("/assets/images/Background_hands_web.png");
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

        @media screen and (max-width: 992px) {
          background-image: unset;
          width: 198px;
          height: 300px;
          object-fit: contain;
        }
        video {
          // position: absolute;
          // top: 26px;
          // left: 99px;
          // border-radius: 48px;
          // height: 73%;
          // width: 70%;
          // object-fit: cover;
          // object-position: top;
          // margin-bottom: 0px;

          position: absolute;
          top: 26px;
          left: 166px;
          border-radius: 48px 48px 36px 68px;
          height: 74%;
          width: 51%;
          object-fit: cover;
          object-position: top;
          margin-bottom: 0px;

          @media screen and (max-width: 992px) {
            position: absolute;
            top: 71px;
            left: 65px;
            border-radius: 14px 14px 14px 24px;
            height: 72%;
            width: 51%;
            object-fit: cover;
            object-position: top;
            margin-bottom: 0px;
          }
        }
      }

      .sec_title {
        margin-bottom: 32px;
        @media screen and (min-width: 992px) {
          display: none;
        }
        p {
          @media screen and (min-width: 992px) {
            display: none;
          }
          color: #9fa0b9;
          text-align: right;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%;
        }

        h3 {
          @media screen and (max-width: 992px) {
            color: #383969;
            text-align: right;
            font-size: 32.5px;
            font-style: normal;
            font-weight: 800;
            line-height: 120%; /* 39px */
            max-width: 180px;
          }
        }
      }
    }
  }
}
// ++++++++++++++ LTR ++++++++++++++
