section.virtual_guide {
  position: relative;
  margin-top: 128px;
  padding-bottom: 128px;
  @media screen and (max-width: 992px) {
    margin-top: -10px;
    padding-bottom: 0px;
  }

  .shape {
    position: absolute;
    left: 0;
    bottom: 138px;
    z-index: -1;

    img {
      object-fit: contain;
      @media screen and (max-width: 992px) {
        width: 338px;
        height: 125px;
      }
    }
  }

  .container {
    @media screen and (max-width: 992px) {
      padding-left: 0;
    }
  }
  .sec_container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    position: relative;

    @media screen and (max-width: 992px) {
      flex-direction: column-reverse;
    }

    .topics_container {
      max-height: fit-content;
      position: relative;
      overflow: hidden;
      @media screen and (max-width: 992px) {
        max-width: unset;
        // position: relative;
        overflow: unset;
        width: 100%;
      }

      .shadow {
        position: absolute;
        bottom: -2px;
        right: -10px;
        background: linear-gradient(
          180deg,
          #fafafa 0%,
          rgba(250, 250, 250, 0) 100%
        );
        width: 88%;
        height: 113px;
        z-index: 222;
        transform: rotate(180deg);
        border-radius: 0 0 32px 32px;

        @media screen and (max-width: 992px) {
          display: none;
        }
      }

      .guide {
        margin-bottom: 16px;
        @media screen and (max-width: 992px) {
          display: none;
        }
        p {
          font-size: 32px;
          font-weight: 500;
          line-height: 38px;
          letter-spacing: 0em;
          text-align: right;
          color: #9fa0b9;
        }
      }

      .sec_title {
        margin-bottom: 32px;
        @media screen and (max-width: 992px) {
          display: none;
        }

        h3 {
          text-align: unset;
        }
      }

      .swiper_container {
        height: 686px;
      }

      .mobile_Slider,
      .boxes_container {
        display: block;
        @media screen and (max-width: 992px) {
          display: none;
        }

        .box {
          width: 265px;
          // height: 256px;
          overflow: hidden;
          padding: 16px;
          border: 1px solid var(--main-white-color);
          border-radius: 32px;
          background-color: var(--main-white-color);
          box-shadow: 0px 24px 64px 0px #3839690d;
          margin-right: 16px;
          margin-bottom: 16px;
          transition: transform 0.3s ease-in-out, border-color 0.5s ease-in-out;
          border: 2px solid transparent;
          transform: scale(0.92);

          @media screen and (max-width: 922px) {
            width: unset;
            padding: 0;
            border: none;
            box-sizing: unset;
            background-color: unset;
            margin: 0;
            transform: unset;
            overflow: unset;
            box-shadow: unset;
            border-radius: 0;
            overflow: unset;
          }

          cursor: pointer;
          &:first-child {
            margin-right: 0;
          }

          .img_container {
            img {
              border-radius: 24px;
              @media screen and (max-width: 992px) {
                border-radius: 12px;
              }
            }
          }
          .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 16px;

            h5 {
              color: var(--main-purble-color);
              transition: color 0.3s ease-in-out;
              font-size: 24px;
              font-weight: 600;
              line-height: 24px;
              letter-spacing: 0em;
            }
            .icon_container {
              display: none !important;
              width: 40px;
              height: 40px;
              display: flex;
              border-radius: 24px;
              padding: 8px;
              background-color: #50a99a33;
              img {
                margin: auto;
                width: 100%;
                height: 100%;
              }
            }
          }
        }

        .box.active {
          img {
            border-color: var(--main-green-color) !important;
          }

          .title {
            h5 {
              color: var(--main-green-color);
            }
          }
        }
      }

      .mobile_Slider {
        display: none;
        @media screen and (max-width: 992px) {
          padding-right: 18px;
          display: block;
          margin-top: 70px;
        }

        .box {
          // width: 164px !important;
          .img_container {
            img {
              width: 181px;
              height: 126px;

              border: 3px solid transparent;
              transition: all 0.3s ease-in-out;
            }
          }
          .title {
            margin-right: 8px;
            h5 {
              font-size: 18px;
              font-weight: 800;
            }
          }
        }
      }

      .boxes_container_mobile {
        @media screen and (min-width: 992px) {
          display: none;
        }
        margin-top: 14px !important;
        // justify-content: space-between;

        display: flex;
        flex-wrap: wrap;
        gap: 16px;

        @media screen and (max-width: 992px) {
          align-items: flex-start;
          column-count: 2;
          column-gap: 16px;
          width: 100%;
          display: block;
        }

        .box {
          break-inside: avoid;
          display: inline-block;
          page-break-inside: avoid;
          -webkit-column-break-inside: avoid;
          text-decoration: none;
          padding: 0;
          border-radius: 24px;
          position: relative;
          z-index: 2;
          transition: var(--main-transation);
          align-items: flex-end;
          display: flex;
          padding: 16px;
          margin-left: 0px;
          margin-bottom: 16px;

          @media screen and (max-width: 992px) {
            break-inside: avoid; // Prevents the box from being split across columns
            margin-bottom: 16px; // Spacing between boxes
            // width: 100%;
          }

          &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.5;
            border-radius: 16px;

            background: linear-gradient(
              143.2deg,
              rgba(142, 142, 174, 0.1) 0%,
              rgba(142, 142, 174, 0.1) 0.01%,
              #8e8eae 100%
            );
          }

          .img_container {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;

            img {
              object-fit: cover;
              border-radius: 16px;

              @media screen and (max-width: 992px) {
                width: 100%;
                height: 100%;
              }
            }
          }

          .title {
            h5 {
              font-size: 16px;
              font-weight: 600;
              line-height: 19px;
              letter-spacing: 0em;
              text-align: right;
              color: var(--main-white-color);
            }
          }
        }
      }
    }

    .video_container {
      // position: relative;
      // width: 100%;

      @media screen and (max-width: 992px) {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-end;
      }

      .img_container {
        @media screen and (max-width: 992px) {
          margin-top: 50px;
        }
        img {
          width: 100px;
          height: 220px;
          @media screen and (min-width: 992px) {
            display: none;
          }

          @media screen and (max-width: 992px) {
            width: 256px;
            height: 397px;
            object-fit: contain;
          }
        }

        // min-width: 372px;

        width: 504px;
        height: 768px;
        object-fit: contain;
        background-image: url("/assets/images/Background_hands_web.png");
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

        @media screen and (max-width: 992px) {
          background-image: unset;
          width: 198px;
          height: 300px;
          object-fit: contain;
        }
        video {
          // position: absolute;
          // top: 26px;
          // left: 99px;
          // border-radius: 48px;
          // height: 73%;
          // width: 70%;
          // object-fit: cover;
          // object-position: top;
          // margin-bottom: 0px;

          position: absolute;
          top: 26px;
          left: 166px;
          border-radius: 48px 48px 36px 68px;
          height: 74%;
          width: 51%;
          object-fit: cover;
          object-position: top;
          margin-bottom: 0px;

          @media screen and (max-width: 992px) {
            position: absolute;
            top: 15px;
            left: 23px;
            border-radius: 26px 26px 30px 36px;
            height: 96%;
            width: 69%;
            object-fit: cover;
            object-position: top;
            margin-bottom: 0px;
          }
        }
      }

      .sec_title {
        margin-bottom: 32px;

        padding-right: 12px;
        padding-left: 0;
        @media screen and (min-width: 992px) {
          display: none;
        }
        p {
          @media screen and (min-width: 992px) {
            display: none;
          }
          color: #9fa0b9;
          text-align: right;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%;
        }

        h3 {
          @media screen and (max-width: 992px) {
            color: #383969;
            font-size: 32.5px;
            font-style: normal;
            font-weight: 800;
            text-align: right;
            line-height: 120%;
          }
        }
      }
    }
  }
}

section.virtualPage {
  margin-top: 40px;
  padding-bottom: 0;
  @media screen and (max-width: 992px) {
  }

  .topics_container {
  }

  .shape {
    display: none;
  }

  .shadow {
    right: 16px !important;
    width: 94% !important;
  }

  .topics_container {
    .boxes_container {
      .box {
        margin: 0 !important;
        width: 289px !important;
        height: 256px !important;
      }
    }

    .guide {
      display: none;
    }
  }

  .video_container {
    align-items: flex-start !important;
    .sec_title {
      width: 100%;

      @media screen and (max-width: 992px) {
        margin-bottom: 0 !important;
      }

      p {
        display: none;
      }
      h3 {
        text-align: unset;
      }
    }

    .img_container {
      background-image: unset !important;

      @media screen and (max-width: 992px) {
        display: none;
      }

      img {
        display: none;
      }

      video {
        width: 340.273px !important;
        height: 616px !important;
        border-radius: 24px !important;
      }
    }
  }

  .mobile_Slider {
    @media screen and (max-width: 992px) {
      display: none !important;
    }
  }

  .boxes_container {
    @media screen and (max-width: 992px) {
      display: block !important;
    }
  }
}

.video_layer {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  display: none;

  @media screen and (max-width: 992px) {
    display: flex;
    position: fixed;
    // justify-content: center;
  }
  .title {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: 20px;
      font-weight: 500;
      color: #9fa0b9;
    }
    h3 {
    }

    .close_icon {
      svg {
        width: 40px;
        height: 40px;
        color: #9596cc;
      }
    }
  }

  h3 {
    text-align: unset !important;
    margin-bottom: 24px;
  }

  .video_container {
    width: fit-content;
    border-radius: 25.58px;
    display: flex;
    width: 100%;
    video {
      width: 280px;
      height: 600px;
      border-radius: 25.58px;
      object-fit: cover;
      margin: auto;
    }
  }
}

// ++++++++++++++ LTR ++++++++++++++
section.virtual_guide[dir="ltr"]:not(.virtualPage) {
  position: relative;
  margin-top: 128px;
  padding-bottom: 128px;

  @media screen and (max-width: 992px) {
    margin-top: -24px;
    padding-bottom: 0px;
  }

  .shape {
    right: 0;
    left: unset;
    bottom: 138px;
    z-index: -1;

    img {
      object-fit: contain;
      transform: scale(-1);

      @media screen and (max-width: 992px) {
        width: 338px;
        height: 125px;
      }
    }
  }

  .container {
    @media screen and (max-width: 992px) {
      padding-right: 0px !important;
    }
  }

  .sec_container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    position: relative;

    @media screen and (max-width: 992px) {
      flex-direction: column-reverse;
    }

    .topics_container {
      max-height: fit-content;
      position: relative;
      overflow: hidden;
      @media screen and (max-width: 992px) {
        max-width: unset;
        // position: relative;
        overflow: unset;
        width: 100%;
      }

      .shadow {
        position: absolute;
        bottom: -2px;
        right: unset;
        left: 0px;
        background: linear-gradient(
          180deg,
          #fafafa 0%,
          rgba(250, 250, 250, 0) 100%
        );
        width: 59% !important;

        @media screen and (max-width: 992px) {
          display: none;
        }
      }

      .guide {
        margin-bottom: 16px;
        @media screen and (max-width: 992px) {
          display: none;
        }
        p {
          font-size: 32px;
          font-weight: 500;
          line-height: 38px;
          letter-spacing: 0em;
          text-align: left;
          color: #9fa0b9;
        }
      }

      .sec_title {
        margin-bottom: 32px;

        @media screen and (max-width: 992px) {
          display: none;
        }

        h3 {
          text-align: left;
        }
      }

      .swiper_container {
        height: 686px;
      }

      .mobile_Slider,
      .boxes_container {
        display: block;
        @media screen and (max-width: 992px) {
          display: none;
        }

        .box {
          cursor: pointer;
          &:first-child {
            margin-right: 0;
          }

          .img_container {
            img {
            }
          }
          .title {
            h5 {
              text-align: left !important;
            }
            .icon_container {
              width: 40px;
              height: 40px;
              display: flex;
              border-radius: 24px;
              padding: 8px;
              background-color: #50a99a33;
              img {
                margin: auto;
                width: 100%;
                height: 100%;
              }
            }
          }
        }

        .box.active {
          .title {
            h5 {
            }
          }
        }
      }

      .mobile_Slider {
        display: none;
        @media screen and (max-width: 992px) {
          display: block;
          padding-right: 0;
          padding-left: 18px;
          margin-top: 40px;
        }

        .box {
          // width: 164px !important;
          .img_container {
            img {
            }
          }
          .title {
            h5 {
            }
          }
        }
      }
    }

    .video_container {
      // position: relative;
      // width: 100%;

      @media screen and (max-width: 992px) {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-end;
      }

      .img_container {
        transform: scaleX(-1);

        img {
          width: 100px;
          height: 220px;

          @media screen and (min-width: 992px) {
            display: none;
          }

          @media screen and (max-width: 992px) {
            width: 196px;
            height: 419px;
            object-fit: contain;
          }
        }

        // min-width: 372px;

        width: 504px;
        height: 768px;
        object-fit: contain;
        background-image: url("/assets/images/Background_hands_web.png");
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

        @media screen and (max-width: 992px) {
          background-image: unset;
          width: 198px;
          height: 300px;
          object-fit: contain;
        }
        video {
          // position: absolute;
          // top: 26px;
          // left: 99px;
          // border-radius: 48px;
          // height: 73%;
          // width: 70%;
          // object-fit: cover;
          // object-position: top;
          // margin-bottom: 0px;
          transform: scaleX(-1) !important;

          position: absolute;
          top: 26px;
          left: 167px;
          border-radius: 22px 18px 51px 58px;
          height: 74%;
          width: 51%;
          object-fit: cover;
          object-position: top;
          margin-bottom: 0px;

          @media screen and (max-width: 992px) {
            position: absolute;
            top: 71px;
            left: 65px;
            border-radius: 14px 14px 14px 24px;
            height: 72%;
            width: 51%;
            object-fit: cover;
            object-position: top;
            margin-bottom: 0px;
          }
        }
      }

      .sec_title {
        margin-bottom: 32px;
        padding-left: 12px;
        padding-right: 0;

        @media screen and (min-width: 992px) {
          display: none;
        }
        p {
          @media screen and (min-width: 992px) {
            display: none;
          }
          color: #9fa0b9;
          text-align: left;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%;
        }

        h3 {
          @media screen and (max-width: 992px) {
            color: #383969;
            text-align: left;
            font-size: 32.5px;
            font-style: normal;
            font-weight: 800;
            line-height: 120%;
          }
        }
      }
    }
  }
}
// ++++++++++++++ LTR ++++++++++++++
