footer.footer {
  background: #ffffff;
  border-radius: 48px 48px 0px 0px;
  padding-top: 56px;
  padding-bottom: 56px;
  margin-top: 24px;

  @media screen and (max-width: 450px) {
    border-radius: 32px 24px 64px 24px;
    padding-top: 34px;
    padding-bottom: 34px;
  }
  .sec_container {
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        object-fit: contain;
        height: 40px;
        width: 190.84;
        object-fit: contain;
        @media screen and (max-width: 992px) {
          height: 50px;
        }
        &:last-child {
          margin-left: 24px;
          width: 84.88;
        }
      }
    }

    .contact {
      background-color: var(--main-white-color);
      box-shadow: 0px 16px 24px 0px #3839690d;
      cursor: pointer;
      align-items: center;
      border-radius: 40px;
      padding: 8px;

      @media screen and (max-width: 450px) {
        display: none !important;
      }
      p {
        margin-bottom: 0;

        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--main-green-color);
      }
    }

    .copyright {
      @media screen and (max-width: 450px) {
        width: 100%;
        font-size: 14px;
      }

      font-size: 20px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: center;
      color: #9595a7;
    }
  }
}

.top {
  margin-top: -45px !important;
}
