footer.footer {
  background: #ffffff;
  border-radius: 48px 48px 0px 0px;
  padding-top: 26px;
  padding-bottom: 16px;
  margin-top: 24px;

  @media screen and (max-width: 450px) {
    border-radius: 32px 24px 0px 0px;
  }

  .sec_container {
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 26px;
      flex-direction: row-reverse;
      @media screen and (max-width: 992px) {
        gap: 16px;
      }
      img {
        object-fit: contain;

        @media screen and (max-width: 992px) {
          width: 62%;
          // height: 50px;
          // width: 300px;
        }
        &:last-child {
          width: 70px;
        }
      }
    }

    .contact {
      background-color: var(--main-white-color);
      box-shadow: 0px 16px 24px 0px #3839690d;
      cursor: pointer;
      align-items: center;
      border-radius: 40px;
      padding: 8px;

      @media screen and (max-width: 450px) {
        display: none !important;
      }
      p {
        margin-bottom: 0;

        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--main-green-color);
      }
    }

    .copyright {
      @media screen and (max-width: 450px) {
        width: 100%;
        font-size: 14px;
      }

      font-size: 20px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: center;
      color: #9595a7;
    }
  }
}

footer.home {
  margin-top: -45px !important;
  position: relative;
  z-index: 55;

  @media screen and (min-width: 992px) {
    z-index: 57;
  }
}

.top {
  margin-top: -45px !important;
}
