section.explore {
  position: relative;
  @media screen and (max-width: 992px) {
    padding-top: 200px;
  }
  .sec_title {
    position: absolute;
    top: 0;
    right: 50%;
    left: 50%;
    margin-top: 60px;
    width: 100%;
    transform: translate(50%, 50%);

    z-index: 99;

    @media screen and (max-width: 992px) {
      margin-top: 151px;
    }
    h3 {
    }

    .icon_container {
      position: absolute;
      top: -174px;
      z-index: -1;
      left: 21%;
      @media screen and (max-width: 992px) {
        width: 88.408px;
        height: 88.725px;
        left: 33%;
        top: -28px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .boxes_container {
    display: flex;
    justify-content: center;
    margin-top: -0px;

    @media screen and (max-width: 992px) {
      display: none !important;
    }
    .box {
      overflow: hidden;
      border-radius: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      transition: all 0.3s ease;
      cursor: pointer;
      padding: 24px;
      &:hover {
        .inner_container {
          width: 100%;
        }
        .text_container {
          margin-right: 24px;
          align-items: flex-start;
          justify-content: flex-start;
        }

        .icon_container {
          img {
            margin-right: 24px;
          }
        }

        .desc,
        .title {
          p,
          h5 {
            text-align: right !important;
          }
        }
      }

      &:first-child {
        .title {
          h5 {
            color: var(--main-green-color);
          }
        }
      }

      &:nth-child(2) {
        .title {
          h5 {
            color: #9596cc;
          }
        }
      }

      &:last-child {
        .title {
          h5 {
            color: #d3c1bd;
          }
        }
      }

      &:first-child {
        .inner_boxes_container {
          .small_box {
            .category_container {
              display: none;
            }
          }
        }
      }

      &:not(:first-child) {
        .inner_boxes_container {
          .small_box {
            .hours_container {
              display: none;
            }
          }
        }
      }

      .background_image {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .icon_container {
        margin-bottom: 24px;
        width: 100%;
        display: flex;

        img {
          transition: all 0.3s ease;

          margin: auto;
          width: 64px;
          height: 64px;

          object-fit: contain;
        }
      }
      .box_container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .text_container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: all 0.3s ease;
      }
      .title {
        margin-bottom: 16px;
        min-width: 300px;
        h5 {
          font-size: 42px;
          font-weight: 800;
          line-height: 42px;
          letter-spacing: 0em;

          text-align: center;
        }
      }

      .desc {
        min-width: 300px;

        p {
          font-size: 24px;
          font-weight: 500;
          line-height: 34px;
          letter-spacing: 0em;
          color: #828295;
          text-align: center;
        }
      }

      .inner_boxes_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;

        .small_box {
          border-radius: 24px;
          width: 190px;
          height: 200px;
          overflow: hidden;
          position: relative;
          transition: all 0.3s ease-in-out;
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 20%;
            background: linear-gradient(
              271deg,
              #b7a69778 20%,
              #37798a3b 60.34%
            );
            bottom: 0;
            z-index: 0;
          }

          &:hover {
            transform: translateY(-21px) rotate(2deg);
          }

          &:not(:first-child) {
            margin-right: 16px;
          }

          .img_container {
            width: 100%;
            height: 100%;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;

              filter: drop-shadow(50%);
            }
          }

          .hours_container,
          .category_container {
            position: absolute;
            top: 16px;
            left: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .category {
            }
            p {
              margin-bottom: 0;
              color: var(--main-white-color);
              font-weight: 600;
              font-size: 16px;
            }

            .icon_container {
              width: fit-content;
              margin-bottom: 0;
              svg {
                width: 23px;
                height: 23px;
                path {
                  fill: var(--main-green-color);
                }
              }
            }
          }
          .hours_container {
            background-color: #ffffff5e;
            padding: 4px 10px 4px;
            border-radius: 24px;
          }

          .category_container {
            flex-direction: row-reverse;

            background-color: #fff;
            padding: 4px 10px 4px;
            border-radius: 24px;
            display: flex;
            p {
              color: var(--main-purble-color);
            }
          }

          .card_bottom {
            width: 100%;
            padding: 14px;
            padding-top: 0;
            padding-bottom: 0;
            position: absolute;
            bottom: 16px;
            // left: -16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: transparent;
            z-index: 2;
            .title {
              min-width: auto;
              margin-bottom: 0;
              p {
                color: var(--main-white-color);
                font-size: 16px;
                font-weight: 800;
                margin-bottom: 0;
              }
            }

            .icon_container {
              margin-bottom: 0;
              width: fit-content;
              svg {
                color: var(--main-white-color);

                width: 16px;
                height: 16px;
              }
            }
          }
        }

        .btn_container {
          position: absolute;
          bottom: -80px;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 8px;
          background-color: rgb(56 122 138 / 9%);
          border-radius: 24px;

          a {
            color: var(--main-green-color);
            text-decoration: none;
            font-weight: 600;
            font-size: 14px;
          }
          .arrow_container {
            svg {
              color: var(--main-green-color);
              width: 23px;
              height: 23px;
            }
          }
        }
      }

      .innerBoxes div {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px; // Small border radius for aesthetics
      }
    }
  }

  .slider {
    &:first-child {
      .swiper_slide_box {
        .title {
          h5 {
            color: var(--main-green-color);
          }
        }
      }
    }
    &:last-child {
      .swiper_slide_box {
        .title {
          h5 {
            color: #d3c1bd !important;
          }
        }
      }
    }

    &:nth-child(2) {
      .swiper_slide_box {
        .title {
          h5 {
            color: #9596cc !important;
          }
        }
      }
    }
  }
  #slider_container {
    // background-color: red;
    // height: 1000px;
    margin-top: 28px;
    display: none;
    @media screen and (max-width: 992px) {
      display: block;
    }
    .swiper_slide_box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      width: 279.249px;
      position: relative;
      padding: 8px 24px;
      mix-blend-mode: overlay;
      border-radius: 24px;
      z-index: 22;
      border-radius: 24px;

      .background_image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        border-radius: 24px;
        img {
          border-radius: 24px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &::after {
        content: "";
        background-image: url("/assets/svgs/noise.svg");
        opacity: 0.1;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 24px;
        z-index: -2;
        position: absolute;
      }
      .arrow_container {
        width: 32px;
        height: 32px;
        border-radius: 24px;
        border: 0.469px solid rgba(255, 255, 255, 0.4);

        background: rgba(56, 122, 138, 0.2);

        backdrop-filter: blur(2.8148295879364014px);
        display: flex;
        align-self: flex-end;

        @media screen and (max-width: 992px) {
          margin-top: 16px;
        }
        svg {
          margin: auto;
          color: var(--main-white-color);
        }
      }

      .topic_icon {
        img {
          width: 48px;
          height: 48px;
        }
      }

      .title {
        margin-bottom: 16px;
        margin-top: 16px;
        h5 {
          margin: 0;
          color: #387a8a;
          text-align: right;
          font-family: var(--IBMP-font);
          font-size: 32px;
          font-style: normal;
          font-weight: 600;
          line-height: 100%;
        }
      }

      .desc {
        p {
          color: #828295;
          text-align: right;
          font-family: var(--IBMP-font);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 22.4px */
        }
      }

      .small_box {
        display: flex;
        text-decoration: none;
        width: 100%;
        // justify-content: space-between;
        // align-items: center;
        flex-direction: column;
        align-items: flex-start;

        &:not(:last-child) {
          border-bottom: 1px solid rgba(56, 57, 105, 0.08);
        }

        padding-top: 13px;
        padding-bottom: 0px;

        .img_container {
          position: relative;

          .text_container {
            position: absolute;
            top: 8px;
            left: 8px;
            z-index: 999;

            display: flex;
            margin-left: auto;
            display: flex;
            flex-direction: column;
            margin-right: 8px;

            .horus_container {
              display: flex;
              align-items: center;
              // rgba(255, 255, 255, 0.3)
              // margin-top: 8px;
              align-items: center;
              width: fit-content;
              padding: 4px 10px;

              border-radius: 16px;
              background: rgb(255 255 255 / 86%);
              backdrop-filter: blur(8px);

              .clock {
                margin-left: 6px;
                svg {
                  width: 16px;
                  height: 16px;
                }
              }
              p {
                margin-bottom: 0 !important;

                color: #50a99a !important;
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 12px;
                margin-bottom: 0;
              }
            }
          }

          img {
            width: 233px;
            height: 106px;
            border-radius: 12px;
            object-fit: cover;
          }
        }

        .title {
          margin-bottom: 10px;
          margin-top: 10px;
          padding-bottom: 0;

          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          p {
            margin-bottom: 0;
            color: #383969;
            text-align: right;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 100%;
          }

          .arrow_containerr {
            svg {
              width: 14px;
              height: 14px;
              opacity: 0.3;
              color: #50a99a;
            }
          }
        }
      }
    }
  }
}

// +++++LTR+++++++

section.explore[dir="ltr"] {
  .sec_title {
    left: unset;

    .icon_container {
      position: absolute;
      top: -174px;
      z-index: -1;
      left: unset;
      right: 21%;

      @media screen and (max-width: 992px) {
        top: -28px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .boxes_container {
    display: flex;
    justify-content: center;
    margin-top: -0px;
    .box {
      overflow: hidden;
      border-radius: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      transition: all 0.3s ease;
      cursor: pointer;
      padding: 24px;

      &:hover {
        .inner_container {
          width: 100%;
        }
        .text_container {
          margin-right: 24px;
          align-items: flex-start;
          justify-content: flex-start;
        }

        .icon_container {
          img {
            margin-right: auto;
            margin-left: 24px;
          }
        }

        .desc,
        .title {
          p,
          h5 {
            text-align: left !important;
          }
        }
      }

      &:first-child {
        .title {
          h5 {
            color: var(--main-green-color);
          }
        }
      }

      &:nth-child(2) {
        .title {
          h5 {
            color: #9596cc;
          }
        }
      }

      &:last-child {
        .title {
          h5 {
            color: #d3c1bd;
          }
        }
      }

      &:first-child {
        .inner_boxes_container {
          .small_box {
            .category_container {
              display: none;
            }
          }
        }
      }

      &:not(:first-child) {
        .inner_boxes_container {
          .small_box {
            .hours_container {
              display: none;
            }
          }
        }
      }

      .background_image {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .icon_container {
        margin-bottom: 24px;
        width: 100%;
        display: flex;

        img {
          transition: all 0.3s ease;
          margin: auto;
          width: 64px;
          height: 64px;

          object-fit: contain;
        }
      }
      .box_container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .text_container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: all 0.3s ease;
      }
      .title {
        margin-bottom: 16px;
        min-width: 300px;
        h5 {
          font-size: 42px;
          font-weight: 800;
          line-height: 56px;
          letter-spacing: 0em;

          text-align: center;
        }
      }

      .desc {
        min-width: 300px;

        p {
          font-size: 24px;
          font-weight: 500;
          line-height: 34px;
          letter-spacing: 0em;
          color: #828295;
          text-align: center;
        }
      }

      .inner_boxes_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;

        .small_box {
          border-radius: 24px;
          width: 190px;
          height: 200px;
          overflow: hidden;
          position: relative;
          transition: all 0.3s ease-in-out;
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 20%;
            background: linear-gradient(
              271deg,
              #b7a69778 20%,
              #37798a3b 60.34%
            );
            bottom: 0;
            z-index: 0;
          }

          &:hover {
            transform: translateY(-21px) rotate(2deg);
          }

          &:not(:first-child) {
            margin-right: 0px;
          }
          &:not(:last-child) {
            margin-right: 16px;
          }

          .img_container {
            width: 100%;
            height: 100%;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              filter: drop-shadow(50%);
            }
          }

          .hours_container,
          .category_container {
            position: absolute;
            top: 16px;
            left: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .category {
            }
            p {
              margin-bottom: 0;
              color: var(--main-white-color);
              font-weight: 600;
              font-size: 16px;
            }

            .icon_container {
              width: fit-content;
              margin-bottom: 0;
              svg {
                width: 23px;
                height: 23px;
                path {
                  fill: var(--main-green-color);
                }
              }
            }
          }
          .hours_container {
            background-color: #ffffff5e;
            padding: 4px 10px 4px;
            border-radius: 24px;
          }

          .category_container {
            flex-direction: row-reverse;

            background-color: #fff;
            padding: 4px 10px 4px;
            border-radius: 24px;
            display: flex;
            p {
              color: var(--main-purble-color);
            }
          }

          .card_bottom {
            width: 100%;
            padding: 14px;
            padding-top: 0;
            padding-bottom: 0;
            position: absolute;
            bottom: 16px;
            // left: -16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: transparent;
            z-index: 2;
            .title {
              min-width: auto;
              margin-bottom: 0;
              p {
                color: var(--main-white-color);
                font-size: 16px;
                font-weight: 800;
                margin-bottom: 0;
              }
            }

            .icon_container {
              margin-bottom: 0;
              width: fit-content;

              svg {
                color: var(--main-white-color);
                transform: rotate(180deg);

                width: 16px;
                height: 16px;
              }
            }
          }
        }

        .btn_container {
          position: absolute;
          bottom: -80px;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 8px;
          background-color: rgb(56 122 138 / 9%);
          border-radius: 24px;

          a {
            color: var(--main-green-color);
            text-decoration: none;
            font-weight: 600;
            font-size: 14px;
          }
          .arrow_container {
            svg {
              transform: rotate(180deg);
              color: var(--main-green-color);
              width: 23px;
              height: 23px;
            }
          }
        }
      }

      .innerBoxes div {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px; // Small border radius for aesthetics
      }
    }
  }

  #slider_container {
    // background-color: red;
    // height: 1000px;
    margin-top: 28px;
    display: none;
    @media screen and (max-width: 992px) {
      display: block;
    }
    .swiper_slide_box {
      width: 299.249px;

      .background_image {
        img {
        }
      }

      .arrow_container {
        transform: scale(-1);

        svg {
          margin: auto;
          color: var(--main-white-color);
        }
      }

      .topic_icon {
        img {
        }
      }

      .title {
        h5 {
          text-align: left;
        }
      }

      .desc {
        p {
          text-align: left;
        }
      }

      .small_box {
        &:not(:last-child) {
          border-bottom: 1px solid rgba(56, 57, 105, 0.08);
          // background-color: red;
        }
        padding-top: 13px;
        padding-bottom: 13px;
        .img_container {
          img {
            width: 90px;
            height: 60px;
            border-radius: 12px;
            object-fit: cover;
          }
        }
        .text_container {
          margin-right: 8px;
          margin-left: 8px;

          .title {
            margin-bottom: 0;
            margin-top: 0;

            p {
              text-align: left;
            }
          }

          .horus_container {
            flex-direction: row-reverse;

            .clock {
              svg {
              }
            }
            p {
            }
          }
        }

        .arrow_containerr {
          svg {
            transform: scale(-1);
          }
        }
      }
    }
  }
}

// +++++LTR+++++++
