section.explore {
  position: relative;
  .sec_title {
    position: absolute;
    top: 0;
    right: 50%;
    left: 50%;
    margin-top: 60px;
    width: 100%;
    transform: translate(50%, 50%);

    z-index: 99;
    h3 {
    }

    .icon_container {
      position: absolute;
      top: -174px;
      z-index: -1;
      left: 21%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .boxes_container {
    display: flex;
    justify-content: center;
    margin-top: -0px;
    .box {
      overflow: hidden;
      border-radius: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      transition: all 0.3s ease;
      cursor: pointer;
      padding: 24px;
      &:hover {
        .inner_container {
          width: 100%;
        }
        .text_container {
          margin-right: 24px;
          align-items: flex-start;
          justify-content: flex-start;
        }

        .icon_container {
          img {
            margin-right: 24px;
          }
        }

        .desc,
        .title {
          p,
          h5 {
            text-align: right !important;
          }
        }
      }

      &:first-child {
        .title {
          h5 {
            color: var(--main-green-color);
          }
        }
      }

      &:nth-child(2) {
        .title {
          h5 {
            color: #9596cc;
          }
        }
      }

      &:last-child {
        .title {
          h5 {
            color: #d3c1bd;
          }
        }
      }

      &:first-child {
        .inner_boxes_container {
          .small_box {
            .category_container {
              display: none;
            }
          }
        }
      }

      &:not(:first-child) {
        .inner_boxes_container {
          .small_box {
            .hours_container {
              display: none;
            }
          }
        }
      }

      .background_image {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .icon_container {
        margin-bottom: 24px;
        width: 100%;
        display: flex;

        img {
          transition: all 0.3s ease;

          margin: auto;
          width: 64px;
          height: 64px;

          object-fit: contain;
        }
      }
      .box_container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .text_container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: all 0.3s ease;
      }
      .title {
        margin-bottom: 16px;
        min-width: 300px;
        h5 {
          font-size: 56px;
          font-weight: 800;
          line-height: 56px;
          letter-spacing: 0em;

          text-align: center;
        }
      }

      .desc {
        min-width: 300px;

        p {
          font-size: 24px;
          font-weight: 500;
          line-height: 34px;
          letter-spacing: 0em;
          color: #828295;
          text-align: center;
        }
      }

      .inner_boxes_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;

        .small_box {
          border-radius: 24px;
          width: 190px;
          height: 200px;
          overflow: hidden;
          position: relative;
          transition: all 0.3s ease-in-out;
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 20%;
            background: linear-gradient(
              271deg,
              #b7a69778 20%,
              #37798a3b 60.34%
            );
            bottom: 0;
            z-index: 0;
          }

          &:hover {
            transform: translateY(-21px) rotate(2deg);
          }

          &:not(:first-child) {
            margin-right: 16px;
          }

          .img_container {
            width: 100%;
            height: 100%;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;

              filter: drop-shadow(50%);
            }
          }

          .hours_container,
          .category_container {
            position: absolute;
            top: 16px;
            left: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .category {
            }
            p {
              margin-bottom: 0;
              color: var(--main-white-color);
              font-weight: 600;
              font-size: 16px;
            }

            .icon_container {
              width: fit-content;
              margin-bottom: 0;
              svg {
                width: 23px;
                height: 23px;
                path {
                  fill: var(--main-green-color);
                }
              }
            }
          }
          .hours_container {
            background-color: #ffffff5e;
            padding: 4px 10px 4px;
            border-radius: 24px;
          }

          .category_container {
            flex-direction: row-reverse;

            background-color: #fff;
            padding: 4px 10px 4px;
            border-radius: 24px;
            display: flex;
            p {
              color: var(--main-purble-color);
            }
          }

          .card_bottom {
            width: 100%;
            padding: 14px;
            padding-top: 0;
            padding-bottom: 0;
            position: absolute;
            bottom: 16px;
            // left: -16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: transparent;
            z-index: 2;
            .title {
              min-width: auto;
              margin-bottom: 0;
              p {
                color: var(--main-white-color);
                font-size: 16px;
                font-weight: 800;
                margin-bottom: 0;
              }
            }

            .icon_container {
              margin-bottom: 0;
              width: fit-content;
              svg {
                color: var(--main-white-color);

                width: 16px;
                height: 16px;
              }
            }
          }
        }

        .btn_container {
          position: absolute;
          bottom: -80px;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 8px;
          background-color: rgb(56 122 138 / 9%);
          border-radius: 24px;

          a {
            color: var(--main-green-color);
            text-decoration: none;
            font-weight: 600;
            font-size: 14px;
          }
          .arrow_container {
            svg {
              color: var(--main-green-color);
              width: 23px;
              height: 23px;
            }
          }
        }
      }

      .innerBoxes div {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px; // Small border radius for aesthetics
      }
    }
  }
}
